* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 50px;
    border: 2px black dotted;
}

#question-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.option-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.option-input label {
    margin: 10px;
    padding: 10px;
}

#submit-button {
    margin: 10px;
}

.right {
    margin: 10px;
    padding: 20px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.options {
    border: black 1px dotted;
}

.count-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
}

.bottom h3 {
    margin: 5px;
}